<table *ngIf="customer; else elseBlock" class="ui definition table">
  <tbody>
    <tr>
      <td>Bio</td>
      <td>Name: {{ customer.name }}</td>
      <td>Age: {{ customer.age }}</td>
      <td>Gender: {{ customer.gender }}</td>
    </tr>
    <tr>
      <td>Interests</td>
      <td>
        <ul>
          <li *ngFor="let interest of customer.interests">
            {{ interest }}
          </li>
          <li>
            <div class="ui input">
              <input
                #interest
                type="text"
                placeholder="new interest"
                (keyup.enter)="addInterest(interest.value); interest.value = ''"
              />
            </div>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Phones owned</td>
      <td>
        <div class="phones-container">
          <span class="phone-display" *ngFor="let phone of customer.phonesOwned">
            <img [src]="phone.img" height="200px" />
            <span>{{ phone.name }}</span>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>{{ customer.phoneNo }}</td>
    </tr>
    <tr>
      <td>Current plan</td>
      <td>
        <p *ngFor="let detail of (customer.plan | keyvalue)">
          {{ detail.key }}: {{ detail.value }}
        </p>
        <p>
          <a class="ui button" routerLink="main" style="float:right;margin-top: 20px;margin-bottom: 10px;">Done</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #elseBlock>
  <!-- <div
    role="listbox"
    aria-expanded="false"
    class="ui fluid selection dropdown"
    tabindex="0"
  >
    <div class="default text" role="alert" aria-live="polite">
      Select T-Mobile ID
    </div>
    <i aria-hidden="true" class="dropdown icon"></i>
    <div class="menu transition">
      <div
        *ngFor="let name of (names | keyvalue)"
        style="pointer-events:all"
        role="option"
        aria-checked="false"
        aria-selected="false"
        class="item"
        (click)="select(name.key)"
      >
        <span class="text">Jenny Hess</span>
      </div>
    </div>
  </div> -->

  <h1 style="color: white">Assign face to customer:</h1>
  <p *ngFor="let name of (names | keyvalue)" (click)="select(name.key)" class="name-item">
    {{ name.value }}
  </p>
</ng-template>
