<div class="ui relaxed divided list">
  <div class="item" *ngFor="let face of (faces | keyvalue)">
    <a class="button" routerLink="/detail/{{ face.key }}">
      <div class="content">
        <img class="ui avatar image" width="100px" [src]="face.value.pfp" />
        <p class="header" *ngIf="face.value.isCustomer; else elseBlock">
          {{ face.value.name }}
        </p>
        <ng-template #elseBlock>
          <p style="color: black; opacity: 0.8;" class="header">
            1st time visitor
          </p>
        </ng-template>
        <img src="https://www.materialui.co/materialIcons/action/check_circle_white_192x192.png" alt="" class="icon-tick" *ngIf="face.value.wasAttended">
      </div>
    </a>
  </div>
</div>
